body {
    background-color: lightgray;
    text-align: center;
    padding: 50px;
}

#jason {
    text-decoration: underline;
    text:
}

#dl-lift {
    position: relative;
}

#vid {
    position: static;
}

h1 {
    color: red;
    font-family: arial;
    font-weight: 500px;

}


p {
    color: blue;
    font-size: 20px;
    font-style: italic;
}

a {
    font-size: small;
    text-decoration: none;
    color: purple;
}

ul {
    font-style: italic;
    text-align: center;
    list-style: inside;
}

#paragraph {
    color: seagreen;
}

input[type=button]:hover {
    border: solid;
    background-color: green;
}

form {
    padding: 15px;
    background-color: lightblue;
    font-style: italic;
    border-style: solid;
    font-weight: 900px;
}

<style type="text/css">#div3 {
    background-color: hotpink;
}

#div4 {
    background-color: darkolivegreen;
    border: dashed;
}

#div1 {
    border: dashed;
    background-color: steelblue;
}

#div2 {
    border: dashed;
    background-color: forestgreen;
}

#div3 {
    border: dashed;
    background-color: hotpink;
}

</style>